body {
  background-image: url(/assets/images/interlaced.png);
}

nav {
  background: #ffffff;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: #cccccc;
  border-style: solid;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.container {
  margin: auto;
  max-width: 960px;
  min-width: 250px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

#name {
  background: #4aaaa5;
  color: #ffffff;
  float: left;
  padding: 12px 15px;
}

.navLinks {
  float: right;
  padding: 16px 0px;
}

a {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

#about {
  padding: 0px;
  padding-right: 10px;
}

#portfolio {
  border-color: #dddddd;
  border-style: solid;
  border-width: 0px 2px;
  padding: 0px 10px;
}

#contact {
  padding: 0px;
  padding-left: 10px;
}

a:hover {
  color: #666666;
}

.subHeader {
  border-bottom-color: #dddddd;
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  color: #4aaaa5;
  padding: 20px 0px 35px 0px;
  text-align: left;
}

#NinoFace {
  padding: 25px 20px 0px 0px;
  width: 220px;
}

.portLink {
  display: inline-block;
  width: 180px;
  padding: 10px 4px 0px 4px;
  height: 180px;
}

.thumbnail {
  width: 100%;
  height: auto;
  max-width: 180px;
}

.portLink:hover {
  transition: 0.4s ease;
  opacity: 0.6;
}

.linkLabel {
  background: #4aaaa5;
  color: #ffffff;
  opacity: 0;
  position: relative;
  text-align: center;
  bottom: 50px;
  width: 100%;
}

.portLink:hover .linkLabel {
  transition: 0.4s ease;
  opacity: 1;
}

.content {
  background: #ffffff;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 175%;
  padding: 20px;
  margin: 100px auto;
}

textarea {
  width: 100%;
  margin-right: 40px;
}

footer {
  border-color: #4aaaa5;
  border-style: solid;
  border-width: 0px;
  border-top-width: 8px;
  position: fixed;
  background: #666666;
  font-size: 8px;
  bottom: 0;
  color: #aaaaaa;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 100%;
}

#Kappa {
  bottom: -3px;
  position: relative;
  width: 14px;
}

@media screen and (min-width: 641px) {
  #NinoFace {
    float: left;
  }
}

@media screen and (max-width: 640px) {
  #name {
    margin: auto;
    text-align: center;
    width: 100%;
  }

  .navLinks {
    padding: 10px 0px;
    margin: auto;
    text-align: center;
    width: 100%;
  }

  #NinoFace {
    display: block;
    width: 40%;
    min-width: 100px;
    max-width: 220px;
    padding: 25px 0px 10px 0px;
    margin: 0px auto;
  }

  p {
    clear: both;
  }

  .portLink {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .thumbnail {
    display: block;
    width: 40%;
    height: auto;
    min-width: 100px;
    max-width: 180px;
    margin: auto;
  }

  .linkLabel {
    width: 40%;
    min-width: 100px;
    max-width: 180px;
    margin: auto;
  }
}
